{
    "swagger": "2.0",
    "info": {
        "description": "Use SAP Malware Scanning service to scan business documents for malware. Integrate this service with your custom-developed applications running on Cloud Foundry. When your applications upload business documents, your applications can call the Malware Scanning service to check for viruses or other malware.",
        "version": "1.0",
        "title": "SAP Malware Scanning Service"
    },
    "x-sap-api-type": "REST",
    "x-sap-shortText": "Scan business documents uploaded by your custom-developed applications for malware.",
    "x-sap-stateInfo": {
        "state": "Active"
    },
    "host": "sandbox.api.sap.com",
    "schemes": [
        "https"
    ],
    "x-servers": [
        {
            "url": "https://malware-scanner.cf.{Landscape}.hana.ondemand.com",
            "description": "REST API endpoint for the malware scanning API of the SAP Malware Scanning service.",
            "templates": {
                "Landscape": {
                    "description": "Region host. For more information, see [Regions and API Endpoints Available for the Cloud Foundry Environment](https://help.sap.com/docs/BTP/65de2977205c403bbc107264b8eccf4b/350356d1dc314d3199dca15bd2ab9b0e.html#f344a57233d34199b2123b9620d0bb41.html)."
                }
            }
        }
    ],
    "basePath": "/malwarescanning",
    "paths": {
        "/scan": {
            "post": {
                "summary": "Scans a file for malware.",
                "description": "Use to scan unstructured data on upload. We recommend scanning on download if more than 3 days have passed since upload. Maximum file size is 400 MB. For archives, the extracted size must not exceed 1000 MB and single files no more than 500 MB. The archive must not contain more than 10,000 files or more than 31 recursively nested archives.",
                "consumes": [
                    "application/octet-stream"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "fileContent",
                        "description": "The request body must be plain file binaries. Full swagger integration comes with OpenAPI 3.0 ( https://swagger.io/docs/specification/describing-request-body/file-upload/ ).",
                        "schema": {
                            "type": "string",
                            "format": "binary",
                            "example": "X5O!P%@AP[4\\PZX54(P^)7CC)7}$EICAR-STANDARD-ANTIVIRUS-TEST-FILE!$H+H*"
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK - Scan complete.",
                        "schema": {
                            "$ref": "#/definitions/ScanResult"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Access denied. Your authentication credentials have been refused.",
                        "schema": {
                            "$ref": "#/definitions/ReturnMessage"
                        }
                    },
                    "413": {
                        "description": "Payload too large - The file is too large and cannot be scanned or the archive structure is too complex.",
                        "schema": {
                            "$ref": "#/definitions/ReturnMessage"
                        }
                    },
                    "415": {
                        "description": "Unsupported media type - The scanner only accepts plain binary file content as HTTP body and not as form data.",
                        "schema": {
                            "$ref": "#/definitions/ReturnMessage"
                        }
                    },
                    "429": {
                        "description": "Too many requests - Too many requests from this subaccount. The number of concurrent requests has triggered rate limiting. Wait a little and try again.",
                        "schema": {
                            "$ref": "#/definitions/ReturnMessage"
                        }
                    },
                    "503": {
                        "description": "Service unavailable - The scanner is busy. The overall number of requests has triggered rate limiting. Wait a little and try again.",
                        "schema": {
                            "$ref": "#/definitions/ReturnMessage"
                        }
                    }
                },
                "security": [
                    {
                        "basic_auth": []
                    }
                ]
            }
        },
        "/info": {
            "get": {
                "summary": "Returns information about the scan engine.",
                "description": "Returns the name and version of the scan engine, the age of the malware signatures, and any file size limitations.",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK - The API returned consumer relevant information about the service instance.",
                        "schema": {
                            "$ref": "#/definitions/Status"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Access denied. Your authentication credentials have been refused.",
                        "schema": {
                            "$ref": "#/definitions/ReturnMessage"
                        }
                    }
                },
                "security": [
                    {
                        "basic_auth": []
                    }
                ]
            }
        }
    },
    "securityDefinitions": {
        "basic_auth": {
            "type": "basic",
            "description": "Credentials are created with the service binding."
        }
    },
    "security": [
        {
            "basic_auth": []
        }
    ],
    "definitions": {
        "ScanResult": {
            "type": "object",
            "required": [
                "malwareDetected",
                "encryptedContentDetected",
                "SHA256",
                "scanSize"
            ],
            "properties": {
                "malwareDetected": {
                    "type": "boolean",
                    "description": "Indicates whether the scan engine detected a threat."
                },
                "encryptedContentDetected": {
                    "type": "boolean",
                    "description": "Indicates whether the file has encrypted parts, which could not be scanned."
                },
                "scanSize": {
                    "type": "integer",
                    "description": "Size in bytes of the scanned file. Use the file size to validate the success of data transmission."
                },
                "finding": {
                    "type": "string",
                    "description": "This field may contain information about detected malware."
                },
                "mimeType": {
                    "type": "string",
                    "description": "Indicates the detected MIME type for the scanned file. This data may not be reliable and results may vary on different service providers."
                },
                "SHA256": {
                    "type": "string",
                    "description": "SHA-256 hash of the scanned file. Use the hash to validate the success of data transmission."
                }
            }
        },
        "ReturnMessage": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string",
                    "description": "Provides a description of the return code."
                }
            }
        },
        "Status": {
            "type": "object",
            "required": [
                "sigatureTimestamp",
                "maxScanSize"
            ],
            "properties": {
                "maxScanSize": {
                    "type": "integer",
                    "description": "Max file size in bytes, accepted by this service instance."
                },
                "signatureTimestamp": {
                    "type": "string",
                    "description": "Time of the last malware definition update. UTC timestamp is in ISO 8601 format."
                },
                "engineVersion": {
                    "type": "string",
                    "description": "Version of the scan engine."
                }
            }
        }
    }
}